* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272b30;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

html{
  -webkit-text-size-adjust: 100%;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}